workflows/setup/configurador.json
{
  "name": "Configurador — Gerador de Bot WhatsApp",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Criar Bot de WhatsApp",
        "formDescription": "Preencha os dados da empresa. Em segundos, o workflow personalizado estará pronto para entregar ao cliente.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome da Empresa",
              "placeholder": "Ex: Clínica Saúde Total",
              "requiredField": true
            },
            {
              "fieldLabel": "Mensagem de Boas-Vindas",
              "fieldType": "textarea",
              "placeholder": "Ex: Olá! Bem-vindo(a) à Clínica Saúde Total. Estamos aqui para cuidar da sua saúde!",
              "requiredField": true
            },
            {
              "fieldLabel": "Serviços (separe por vírgula)",
              "placeholder": "Ex: Consulta Clínica,Pediatria,Ginecologia,Ortopedia",
              "requiredField": true
            },
            {
              "fieldLabel": "URL de Notificação (opcional)",
              "fieldType": "text",
              "placeholder": "Ex: https://hooks.slack.com/... (deixe vazio para pular)"
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "respondWith": "text",
              "responseText": "✅ Workflow gerado! Copie o JSON do painel de execução do n8n (clique na execução → node 'Resultado')."
            }
          }
        }
      },
      "id": "cfg-0001-0001-0001-000000000001",
      "name": "Formulário de Configuração",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 300],
      "webhookId": "configurador-bot-whatsapp-v1"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────\n// GERADOR DE WORKFLOW — Configurador de Bot WhatsApp\n// Recebe dados do formulário e gera o JSON do workflow personalizado\n// ─────────────────────────────────────────────────────────\n\nconst formData = $input.first().json;\n\n// Extrai campos do formulário\nconst companyName    = (formData['Nome da Empresa'] || '').trim();\nconst welcomeMessage = (formData['Mensagem de Boas-Vindas'] || '').trim();\nconst services       = (formData['Serviços (separe por vírgula)'] || '').trim();\nconst notifUrl       = (formData['URL de Notificação (opcional)'] || '').trim()\n                       || 'https://hooks.slack.com/services/SEU/WEBHOOK/AQUI';\n\nif (!companyName || !welcomeMessage || !services) {\n  throw new Error('Campos obrigatórios faltando: Nome da Empresa, Mensagem de Boas-Vindas e Serviços são obrigatórios.');\n}\n\n// Gera IDs únicos para este workflow\nconst workflowId = (() => {\n  const slug = companyName\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '')\n    .substring(0, 25);\n  const rand = Math.random().toString(36).substring(2, 10);\n  return `${slug}-${rand}`;\n})();\n\nconst versionId  = crypto.randomUUID();\nconst webhookId  = crypto.randomUUID();\nconst generatedAt = new Date().toISOString();\n\n// Escape de valores para uso seguro dentro de strings JSON\nconst esc = (v) => v\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, '\\\\n')\n  .replace(/\\r/g, '\\\\r')\n  .replace(/\\t/g, '\\\\t');\n\nconst safeCompany = esc(companyName);\nconst safeWelcome = esc(welcomeMessage);\nconst safeServices = esc(services);\nconst safeNotifUrl = esc(notifUrl);\n\n// Conteúdo da mensagem de boas-vindas montada\nconst welcomeBody = `${safeWelcome}\\\\n\\\\nNossos serviços:\\\\n${safeServices}\\\\n\\\\nPara começar, me diga: qual é o seu *nome completo*?`;\n\n// Mensagem de conclusão\nconst completionBody = `Perfeito, {{$json[\\\\\"answers\\\\\"][\\\\\"name\\\\\"]}}! Recebi todas as suas informações.\\\\nNossa equipe da *${safeCompany}* entrará em contato em breve pelo número {{$json[\\\\\"answers\\\\\"][\\\\\"contact_phone\\\\\"]}}.\\\\nAté logo! 👋`;\n\n// Pergunta de serviços na qualificação\nconst serviceQuestion = `Qual serviço você tem interesse?\\\\nOpções: ${safeServices}`;\n\n// Template do workflow como objeto JavaScript (evita double-escaping)\nconst workflow = {\n  name: `WhatsApp Lead Qualification — ${companyName}`,\n  nodes: [\n    {\n      parameters: {\n        httpMethod: \"={{$json[\\\"httpMethod\\\"] || \\\"POST\\\"}}\",\n        path: \"whatsapp-webhook\",\n        responseMode: \"responseNode\",\n        options: { rawBody: true }\n      },\n      id: \"a1b2c3d4-0001-0001-0001-000000000001\",\n      name: \"WhatsApp Webhook\",\n      type: \"n8n-nodes-base.webhook\",\n      typeVersion: 2,\n      position: [240, 300],\n      webhookId: webhookId\n    },\n    {\n      parameters: {\n        conditions: {\n          options: { caseSensitive: false, leftValue: \"\", typeValidation: \"strict\" },\n          conditions: [{\n            id: \"method-check-get\",\n            leftValue: \"={{$json[\\\"headers\\\"][\\\"x-http-method\\\"] || $json[\\\"method\\\"] || \\\"POST\\\"}}\",\n            rightValue: \"GET\",\n            operator: { type: \"string\", operation: \"equals\" }\n          }],\n          combinator: \"or\"\n        },\n        options: {}\n      },\n      id: \"a1b2c3d4-0002-0002-0002-000000000002\",\n      name: \"Method Router\",\n      type: \"n8n-nodes-base.if\",\n      typeVersion: 2,\n      position: [460, 300]\n    },\n    {\n      parameters: {\n        respondWith: \"text\",\n        responseBody: \"={{$json[\\\"query\\\"][\\\"hub.challenge\\\"] || \\\"\\\"}}\",\n        options: {\n          responseCode: 200,\n          responseHeaders: { entries: [{ name: \"Content-Type\", value: \"text/plain\" }] }\n        }\n      },\n      id: \"a1b2c3d4-0003-0003-0003-000000000003\",\n      name: \"Verify Challenge Response\",\n      type: \"n8n-nodes-base.respondToWebhook\",\n      typeVersion: 1,\n      position: [680, 160]\n    },\n    {\n      parameters: {\n        jsCode: `// MESSAGE PARSER\\nconst MAX_PAYLOAD_BYTES = 65536;\\nconst SUPPORTED_TYPES = ['text'];\\nconst GREETING_WORDS = ['oi','olá','ola','hello','hi','bom dia','boa tarde','boa noite','início','inicio','começar','comecar','start','menu'];\\nconst body = $input.first().json;\\nconst payloadSize = JSON.stringify(body).length;\\nif (payloadSize > MAX_PAYLOAD_BYTES) return [{ json: { valid: false, error: 'PAYLOAD_TOO_LARGE' } }];\\ntry {\\n  const entry = body?.entry?.[0];\\n  const change = entry?.changes?.[0];\\n  const value = change?.value;\\n  const messageObj = value?.messages?.[0];\\n  if (!messageObj && value?.statuses) return [{ json: { valid: false, error: 'STATUS_UPDATE', ignore: true } }];\\n  if (!messageObj) return [{ json: { valid: false, error: 'NO_MESSAGE_IN_PAYLOAD' } }];\\n  const msgType = messageObj.type;\\n  const from = messageObj.from;\\n  if (!SUPPORTED_TYPES.includes(msgType)) return [{ json: { valid: false, error: 'UNSUPPORTED_MESSAGE_TYPE', messageType: msgType, from } }];\\n  const text = messageObj.text?.body?.trim();\\n  if (!text) return [{ json: { valid: false, error: 'EMPTY_TEXT', from } }];\\n  const isGreeting = GREETING_WORDS.some(w => text.toLowerCase().includes(w));\\n  return [{ json: { valid: true, from, text, messageType: msgType, timestamp: messageObj.timestamp, messageId: messageObj.id, isGreeting } }];\\n} catch(err) {\\n  return [{ json: { valid: false, error: 'PARSE_ERROR', message: err.message } }];\\n}`\n      },\n      id: \"a1b2c3d4-0004-0004-0004-000000000004\",\n      name: \"Message Parser\",\n      type: \"n8n-nodes-base.code\",\n      typeVersion: 2,\n      position: [680, 440]\n    },\n    {\n      parameters: {\n        conditions: {\n          options: { caseSensitive: false, leftValue: \"\", typeValidation: \"strict\" },\n          conditions: [{ id: \"validity-check\", leftValue: \"={{$json[\\\"valid\\\"]}}\", rightValue: true, operator: { type: \"boolean\", operation: \"equals\" } }],\n          combinator: \"and\"\n        },\n        options: {}\n      },\n      id: \"a1b2c3d4-0005-0005-0005-000000000005\",\n      name: \"Message Valid?\",\n      type: \"n8n-nodes-base.if\",\n      typeVersion: 2,\n      position: [900, 440]\n    },\n    {\n      parameters: {\n        method: \"POST\",\n        url: \"=https://graph.facebook.com/v18.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages\",\n        authentication: \"genericCredentialType\",\n        genericAuthType: \"httpHeaderAuth\",\n        sendHeaders: true,\n        headerParameters: { parameters: [{ name: \"Authorization\", value: \"=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}\" }, { name: \"Content-Type\", value: \"application/json\" }] },\n        sendBody: true,\n        bodyParameters: { parameters: [] },\n        specifyBody: \"json\",\n        jsonBody: `={\\n  \"messaging_product\": \"whatsapp\",\\n  \"to\": \"{{$json[\\\\\"from\\\\\"]}}\",\\n  \"type\": \"text\",\\n  \"text\": { \"body\": \"Desculpe, no momento só consigo processar mensagens de texto. Por favor, envie sua dúvida em texto. 😊\" }\\n}`,\n        options: { timeout: 10000, retry: { enabled: true, maxTries: 3, waitBetweenTries: 1000 } }\n      },\n      id: \"a1b2c3d4-0006-0006-0006-000000000006\",\n      name: \"Send Unsupported Type Fallback\",\n      type: \"n8n-nodes-base.httpRequest\",\n      typeVersion: 4.2,\n      position: [1120, 300]\n    },\n    {\n      parameters: {\n        jsCode: `// INTENT ROUTER\\nconst data = $input.first().json;\\nconst SESSION_TIMEOUT_MS = 30 * 60 * 1000;\\nconst sessionData = data.sessionData || {};\\nconst lastActivity = sessionData.lastActivity || 0;\\nconst sessionExpired = (Date.now() - lastActivity) > SESSION_TIMEOUT_MS;\\nlet intent;\\nif (data.isGreeting || !sessionData.state || sessionExpired) {\\n  intent = 'greeting'; sessionData.state = 'GREETING_SENT'; sessionData.answers = {};\\n} else if (sessionData.state === 'COMPLETE') {\\n  intent = 'complete';\\n} else if (['Q1','Q2','Q3','Q4','Q5','GREETING_SENT'].includes(sessionData.state)) {\\n  intent = 'qualifying';\\n} else { intent = 'unknown'; }\\nsessionData.lastActivity = Date.now();\\nreturn [{ json: { ...data, intent, sessionData } }];`\n      },\n      id: \"a1b2c3d4-0007-0007-0007-000000000007\",\n      name: \"Intent Router\",\n      type: \"n8n-nodes-base.code\",\n      typeVersion: 2,\n      position: [1120, 500]\n    },\n    {\n      parameters: {\n        rules: {\n          values: [\n            { conditions: { options: { caseSensitive: false, leftValue: \"\", typeValidation: \"strict\" }, conditions: [{ leftValue: \"={{$json[\\\"intent\\\"]}}\", rightValue: \"greeting\", operator: { type: \"string\", operation: \"equals\" } }], combinator: \"and\" }, renameOutput: true, outputKey: \"greeting\" },\n            { conditions: { options: { caseSensitive: false, leftValue: \"\", typeValidation: \"strict\" }, conditions: [{ leftValue: \"={{$json[\\\"intent\\\"]}}\", rightValue: \"qualifying\", operator: { type: \"string\", operation: \"equals\" } }], combinator: \"and\" }, renameOutput: true, outputKey: \"qualifying\" },\n            { conditions: { options: { caseSensitive: false, leftValue: \"\", typeValidation: \"strict\" }, conditions: [{ leftValue: \"={{$json[\\\"intent\\\"]}}\", rightValue: \"complete\", operator: { type: \"string\", operation: \"equals\" } }], combinator: \"and\" }, renameOutput: true, outputKey: \"complete\" }\n          ]\n        },\n        options: { fallbackOutput: \"extra\" }\n      },\n      id: \"a1b2c3d4-0008-0008-0008-000000000008\",\n      name: \"Intent Switch\",\n      type: \"n8n-nodes-base.switch\",\n      typeVersion: 3,\n      position: [1340, 500]\n    },\n    {\n      parameters: {\n        method: \"POST\",\n        url: \"=https://graph.facebook.com/v18.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages\",\n        authentication: \"genericCredentialType\",\n        genericAuthType: \"httpHeaderAuth\",\n        sendHeaders: true,\n        headerParameters: { parameters: [{ name: \"Authorization\", value: \"=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}\" }, { name: \"Content-Type\", value: \"application/json\" }] },\n        sendBody: true,\n        specifyBody: \"json\",\n        jsonBody: `={\\n  \"messaging_product\": \"whatsapp\",\\n  \"to\": \"{{$json[\\\\\"from\\\\\"]}}\",\\n  \"type\": \"text\",\\n  \"text\": { \"body\": \"${welcomeBody}\" }\\n}`,\n        options: { timeout: 10000, retry: { enabled: true, maxTries: 3, waitBetweenTries: 1000 } }\n      },\n      id: \"a1b2c3d4-0009-0009-0009-000000000009\",\n      name: \"Send Welcome Message\",\n      type: \"n8n-nodes-base.httpRequest\",\n      typeVersion: 4.2,\n      position: [1560, 360]\n    },\n    {\n      parameters: {\n        jsCode: `// LEAD QUALIFICATION\\nconst QUESTIONS = [\\n  { key: 'name',          state: 'Q1', question: 'Qual é o seu *nome completo*?' },\\n  { key: 'contact_phone', state: 'Q2', question: 'Qual o melhor *número para contato*? (pode ser este mesmo)' },\\n  { key: 'service',       state: 'Q3', question: '${serviceQuestion}' },\\n  { key: 'budget',        state: 'Q4', question: 'Qual seu *orçamento aproximado* para este serviço?' },\\n  { key: 'timeline',      state: 'Q5', question: 'Quando você gostaria de *começar*?' }\\n];\\nconst data = $input.first().json;\\nconst sessionData = data.sessionData || {};\\nconst answers = sessionData.answers || {};\\nconst currentState = sessionData.state || 'GREETING_SENT';\\nconst currentQIdx = QUESTIONS.findIndex(q => q.state === currentState);\\nconst prevQIdx = currentQIdx - 1;\\nif (prevQIdx >= 0 && data.text) answers[QUESTIONS[prevQIdx].key] = data.text;\\nif (currentState === 'GREETING_SENT' && data.text) answers['name'] = data.text;\\nconst answeredCount = Object.keys(answers).length;\\nconst nextQuestion = QUESTIONS[answeredCount];\\nlet nextState, qualificationComplete = false, leadData = null;\\nif (!nextQuestion) {\\n  nextState = 'COMPLETE'; qualificationComplete = true;\\n  leadData = { company: '${safeCompany}', whatsapp: data.from, timestamp: new Date().toISOString(), status: 'novo', ...answers };\\n} else { nextState = nextQuestion.state; }\\nsessionData.state = nextState; sessionData.answers = answers; sessionData.lastActivity = Date.now();\\nreturn [{ json: { ...data, sessionData, nextQuestion: nextQuestion?.question || null, qualificationComplete, leadData, answers } }];`\n      },\n      id: \"a1b2c3d4-0010-0010-0010-000000000010\",\n      name: \"Lead Qualification\",\n      type: \"n8n-nodes-base.code\",\n      typeVersion: 2,\n      position: [1560, 520]\n    },\n    {\n      parameters: {\n        method: \"POST\",\n        url: \"=https://graph.facebook.com/v18.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages\",\n        authentication: \"genericCredentialType\",\n        genericAuthType: \"httpHeaderAuth\",\n        sendHeaders: true,\n        headerParameters: { parameters: [{ name: \"Authorization\", value: \"=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}\" }, { name: \"Content-Type\", value: \"application/json\" }] },\n        sendBody: true,\n        specifyBody: \"json\",\n        jsonBody: `={\\n  \"messaging_product\": \"whatsapp\",\\n  \"to\": \"{{$json[\\\\\"from\\\\\"]}}\",\\n  \"type\": \"text\",\\n  \"text\": { \"body\": \"{{$json[\\\\\"nextQuestion\\\\\"]}}\" }\\n}`,\n        options: { timeout: 10000, retry: { enabled: true, maxTries: 3, waitBetweenTries: 1000 } }\n      },\n      id: \"a1b2c3d4-0011-0011-0011-000000000011\",\n      name: \"Send Next Question\",\n      type: \"n8n-nodes-base.httpRequest\",\n      typeVersion: 4.2,\n      position: [1780, 520]\n    },\n    {\n      parameters: {\n        operation: \"append\",\n        documentId: { \"__rl\": true, value: \"\", mode: \"list\", cachedResultName: \"\", cachedResultUrl: \"\" },\n        sheetName: { \"__rl\": true, value: \"gid=0\", mode: \"list\", cachedResultName: \"Leads\" },\n        columns: {\n          mappingMode: \"defineBelow\",\n          value: {\n            \"Timestamp\": \"={{$json[\\\"leadData\\\"][\\\"timestamp\\\"]}}\",\n            \"Empresa\": \"={{$json[\\\"leadData\\\"][\\\"company\\\"]}}\",\n            \"WhatsApp\": \"={{$json[\\\"leadData\\\"][\\\"whatsapp\\\"]}}\",\n            \"Nome\": \"={{$json[\\\"leadData\\\"][\\\"name\\\"]}}\",\n            \"Telefone Contato\": \"={{$json[\\\"leadData\\\"][\\\"contact_phone\\\"]}}\",\n            \"Servico Interesse\": \"={{$json[\\\"leadData\\\"][\\\"service\\\"]}}\",\n            \"Orcamento\": \"={{$json[\\\"leadData\\\"][\\\"budget\\\"]}}\",\n            \"Prazo\": \"={{$json[\\\"leadData\\\"][\\\"timeline\\\"]}}\",\n            \"Status\": \"={{$json[\\\"leadData\\\"][\\\"status\\\"]}}\"\n          },\n          matchingColumns: [],\n          schema: []\n        },\n        options: { cellFormat: \"USER_ENTERED\" }\n      },\n      id: \"a1b2c3d4-0012-0012-0012-000000000012\",\n      name: \"Lead Storage — Google Sheets\",\n      type: \"n8n-nodes-base.googleSheets\",\n      typeVersion: 4.5,\n      position: [1780, 680],\n      credentials: {\n        googleSheetsOAuth2Api: {\n          id: \"GOOGLE_OAUTH2_PLACEHOLDER\",\n          name: \"Google Sheets (clique para conectar)\"\n        }\n      }\n    },\n    {\n      parameters: {\n        method: \"POST\",\n        url: `=${safeNotifUrl}`,\n        sendHeaders: true,\n        headerParameters: { parameters: [{ name: \"Content-Type\", value: \"application/json\" }] },\n        sendBody: true,\n        specifyBody: \"json\",\n        jsonBody: `={\\n  \"event\": \"new_qualified_lead\",\\n  \"company\": \"${safeCompany}\",\\n  \"timestamp\": \"{{$json[\\\\\"leadData\\\\\"][\\\\\"timestamp\\\\\"]}}\",\\n  \"lead\": {\\n    \"whatsapp\": \"{{$json[\\\\\"leadData\\\\\"][\\\\\"whatsapp\\\\\"]}}\",\\n    \"name\": \"{{$json[\\\\\"leadData\\\\\"][\\\\\"name\\\\\"]}}\",\\n    \"contact_phone\": \"{{$json[\\\\\"leadData\\\\\"][\\\\\"contact_phone\\\\\"]}}\",\\n    \"service_interest\": \"{{$json[\\\\\"leadData\\\\\"][\\\\\"service\\\\\"]}}\",\\n    \"budget\": \"{{$json[\\\\\"leadData\\\\\"][\\\\\"budget\\\\\"]}}\",\\n    \"timeline\": \"{{$json[\\\\\"leadData\\\\\"][\\\\\"timeline\\\\\"]}}\"\\n  }\\n}`,\n        options: { timeout: 8000, retry: { enabled: true, maxTries: 2, waitBetweenTries: 2000 } }\n      },\n      id: \"a1b2c3d4-0013-0013-0013-000000000013\",\n      name: \"Agent Notification\",\n      type: \"n8n-nodes-base.httpRequest\",\n      typeVersion: 4.2,\n      position: [2000, 680]\n    },\n    {\n      parameters: {\n        method: \"POST\",\n        url: \"=https://graph.facebook.com/v18.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages\",\n        authentication: \"genericCredentialType\",\n        genericAuthType: \"httpHeaderAuth\",\n        sendHeaders: true,\n        headerParameters: { parameters: [{ name: \"Authorization\", value: \"=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}\" }, { name: \"Content-Type\", value: \"application/json\" }] },\n        sendBody: true,\n        specifyBody: \"json\",\n        jsonBody: `={\\n  \"messaging_product\": \"whatsapp\",\\n  \"to\": \"{{$json[\\\\\"from\\\\\"]}}\",\\n  \"type\": \"text\",\\n  \"text\": { \"body\": \"${completionBody}\" }\\n}`,\n        options: { timeout: 10000, retry: { enabled: true, maxTries: 3, waitBetweenTries: 1000 } }\n      },\n      id: \"a1b2c3d4-0014-0014-0014-000000000014\",\n      name: \"Send Completion Message\",\n      type: \"n8n-nodes-base.httpRequest\",\n      typeVersion: 4.2,\n      position: [1560, 680]\n    },\n    {\n      parameters: {\n        method: \"POST\",\n        url: \"=https://graph.facebook.com/v18.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages\",\n        authentication: \"genericCredentialType\",\n        genericAuthType: \"httpHeaderAuth\",\n        sendHeaders: true,\n        headerParameters: { parameters: [{ name: \"Authorization\", value: \"=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}\" }, { name: \"Content-Type\", value: \"application/json\" }] },\n        sendBody: true,\n        specifyBody: \"json\",\n        jsonBody: `={\\n  \"messaging_product\": \"whatsapp\",\\n  \"to\": \"{{$json[\\\\\"from\\\\\"]}}\",\\n  \"type\": \"text\",\\n  \"text\": { \"body\": \"Não entendi sua mensagem. Digite *menu* para ver as opções disponíveis.\" }\\n}`,\n        options: { timeout: 10000, retry: { enabled: true, maxTries: 2, waitBetweenTries: 1000 } }\n      },\n      id: \"a1b2c3d4-0015-0015-0015-000000000015\",\n      name: \"Send Unknown Intent Fallback\",\n      type: \"n8n-nodes-base.httpRequest\",\n      typeVersion: 4.2,\n      position: [1560, 660]\n    },\n    {\n      parameters: { respondWith: \"json\", responseBody: \"={\\\"status\\\": \\\"ok\\\"}\", options: { responseCode: 200 } },\n      id: \"a1b2c3d4-0016-0016-0016-000000000016\",\n      name: \"Respond 200 OK\",\n      type: \"n8n-nodes-base.respondToWebhook\",\n      typeVersion: 1,\n      position: [2220, 500]\n    }\n  ],\n  connections: {\n    \"WhatsApp Webhook\":             { main: [[{ node: \"Method Router\", type: \"main\", index: 0 }]] },\n    \"Method Router\":                { main: [[{ node: \"Verify Challenge Response\", type: \"main\", index: 0 }], [{ node: \"Message Parser\", type: \"main\", index: 0 }]] },\n    \"Message Parser\":               { main: [[{ node: \"Message Valid?\", type: \"main\", index: 0 }]] },\n    \"Message Valid?\":               { main: [[{ node: \"Intent Router\", type: \"main\", index: 0 }], [{ node: \"Send Unsupported Type Fallback\", type: \"main\", index: 0 }]] },\n    \"Intent Router\":                { main: [[{ node: \"Intent Switch\", type: \"main\", index: 0 }]] },\n    \"Intent Switch\":                { main: [[{ node: \"Send Welcome Message\", type: \"main\", index: 0 }], [{ node: \"Lead Qualification\", type: \"main\", index: 0 }], [{ node: \"Send Completion Message\", type: \"main\", index: 0 }], [{ node: \"Send Unknown Intent Fallback\", type: \"main\", index: 0 }]] },\n    \"Lead Qualification\":           { main: [[{ node: \"Send Next Question\", type: \"main\", index: 0 }]] },\n    \"Send Completion Message\":      { main: [[{ node: \"Lead Storage — Google Sheets\", type: \"main\", index: 0 }]] },\n    \"Lead Storage — Google Sheets\": { main: [[{ node: \"Agent Notification\", type: \"main\", index: 0 }]] },\n    \"Send Welcome Message\":         { main: [[{ node: \"Respond 200 OK\", type: \"main\", index: 0 }]] },\n    \"Send Next Question\":            { main: [[{ node: \"Respond 200 OK\", type: \"main\", index: 0 }]] },\n    \"Agent Notification\":           { main: [[{ node: \"Respond 200 OK\", type: \"main\", index: 0 }]] },\n    \"Send Unsupported Type Fallback\":{ main: [[{ node: \"Respond 200 OK\", type: \"main\", index: 0 }]] },\n    \"Send Unknown Intent Fallback\": { main: [[{ node: \"Respond 200 OK\", type: \"main\", index: 0 }]] }\n  },\n  active: false,\n  settings: {\n    executionOrder: \"v1\",\n    saveManualExecutions: true,\n    callerPolicy: \"workflowsFromSameOwner\",\n    errorWorkflow: \"\"\n  },\n  tags: [{ name: \"whatsapp\" }, { name: \"lead-qualification\" }, { name: \"template\" }],\n  meta: {\n    templateCredsSetupCompleted: false,\n    generatedAt: generatedAt,\n    generatedBy: \"configurador.json\",\n    companyName: companyName\n  },\n  id: workflowId,\n  versionId: versionId\n};\n\nconst workflowJson = JSON.stringify(workflow, null, 2);\nconst fileName = `bot_${workflowId}.json`;\n\nreturn [{ json: {\n  companyName,\n  fileName,\n  workflowJson,\n  instructions: [\n    `1. Copie todo o conteúdo de 'workflowJson' abaixo`,\n    `2. Salve como arquivo: ${fileName}`,\n    `3. Envie para o cliente junto com o guia-cliente.md`\n  ]\n}}];"
      },
      "id": "cfg-0002-0002-0002-000000000002",
      "name": "Gerar Workflow Personalizado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-empresa",
              "name": "empresa",
              "value": "={{$json.companyName}}",
              "type": "string"
            },
            {
              "id": "result-arquivo",
              "name": "arquivo",
              "value": "={{$json.fileName}}",
              "type": "string"
            },
            {
              "id": "result-instrucoes",
              "name": "instrucoes",
              "value": "Copie o campo 'workflowJson', salve como arquivo .json e envie ao cliente com o guia-cliente.md",
              "type": "string"
            },
            {
              "id": "result-json",
              "name": "workflowJson",
              "value": "={{$json.workflowJson}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfg-0003-0003-0003-000000000003",
      "name": "Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Formulário de Configuração": {
      "main": [[{ "node": "Gerar Workflow Personalizado", "type": "main", "index": 0 }]]
    },
    "Gerar Workflow Personalizado": {
      "main": [[{ "node": "Resultado", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    { "name": "setup" },
    { "name": "configurador" }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "configurador"
  },
  "id": "configurador-bot-whatsapp-v1",
  "versionId": "00000000-conf-0001-0001-000000000001",
  "_description": "Workflow de uso INTERNO DO VENDEDOR. Importar na sua instância n8n, ativar e acessar a URL do Form Trigger para gerar workflows personalizados para cada cliente."
}
